.App {
  text-align: center;
  background-color: #222;
  color: white;
  padding-bottom: 600px;
}

a {
  color: white;
  text-decoration: none;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding-bottom: 15px;
  color: white;
}

.App-button {
  height: 40px;
  width: 140px;
  background-color: black;
  color: white;
  border-style:solid;
  border-color: #3d3d3d;
  border-width:thick;
  font-size: 1em;
}

.App-button-tall {
  height: 65px;
  width: 140px;
  background-color: black;
  color: white;
  border-style:solid;
  border-color: #3d3d3d;
  border-width:thick;
  font-size: 1em;
}

.Add-new-button {
  height: 80px;
  width: 80px;
  background-color: black;
  color: white;
  border-style:solid;
  border-color: #3d3d3d;
  border-width:thick;
  font-size: 2em;
  border-radius: 40px
}

.App-main-login {
height: 30px;
}


.App-text-field {
  height: 33px;
  width: 125px;
  font-size: 1em;
  line-height: 28px;
}


.App-text-field-long {
  height: 33px;
  width: 200px;
  font-size: 1em;
  line-height: 28px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
   list-style: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
