.App {
  text-align: center;
  background-color: #222;
  color: white;
  padding-bottom: 600px;
}

.portfolioBox {
  text-align: center;
  padding-top: 1px;
  margin: 0 auto;
  width: 320px;
  height: 180px;
  background-color: #333;
}

.matchupBox {
  text-align: center;
  margin: 0 auto;
  width: 320px;
  padding-bottom: 3px;
  background-color: #333;
}

.errorMessage:not(:empty) {
  color: #D8000C;
  background-color: #FFD2D2;
  padding: 30px;
  margin: 30px;
}

.successMessage:not(:empty) {
  color: #4F8A10;
  background-color: #DFF2BF;
  padding: 30px;
  margin: 30px;
}

a {
  color: white;
  text-decoration: none;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding-top: 10px;
  padding-bottom: 8px;
  color: white;
}

.App-key {
  background-color: #b9c8df;
  height: 60px;
  width: 510px;
  align-items: center;
  justify-content: center;
  border-color: #3d3d3d;
  color: white;
}

.App-key-2 {
  background-color: #b9c8df;
  height: 40px;
  width: 450px;
  align-items: center;
  justify-content: center;
  border-color: #3d3d3d;
  color: white;
}

.App-button {
  height: 40px;
  width: 140px;
  background-color: black;
  color: white;
  border-style:solid;
  border-color: #3d3d3d;
  border-width:thick;
  font-size: 1em;
}

.App-button-big {
  height: 50px;
  width: 300px;
  background-color: black;
  color: white;
  border-style:solid;
  border-color: #3d3d3d;
  border-width:thick;
  font-size: 1em;
}

.App-button-tall {
  height: 65px;
  width: 140px;
  background-color: black;
  color: white;
  border-style:solid;
  border-color: #3d3d3d;
  border-width:thick;
  font-size: 1em;
}

.Add-new-button {
  height: 80px;
  width: 80px;
  background-color: black;
  color: white;
  border-style:solid;
  border-color: #3d3d3d;
  border-width:thick;
  font-size: 2em;
  border-radius: 40px
}

.App-main-login {
height: 30px;
}


.App-text-field {
  height: 33px;
  width: 125px;
  font-size: 1em;
  line-height: 28px;
}


.App-text-field-long {
  height: 33px;
  width: 200px;
  font-size: 1em;
  line-height: 28px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding-bottom: 0px;
}

.App-red {
  color: red;
}
.App-green {
  color: #00FF00;
}

ul {
   list-style: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
